.input_textField{
    input {
        border: 2px solid #ffffff !important;
        border-radius: 4px !important;
        padding: 5px !important;
        color: white;
        width: 18rem;
 

      } 
   

}

.font-grey{
    color: #ddd !important;
}
.font-golden{
    color: #FFCC00 !important;
}
::selection {
    background: transparent !important;
    color: inherit!important;
  }

.input_textField::selection {
    input{
      
        color: black !important;
    }

  
  }

  .label_end{
   text-align: end !important;
  }

.labelStyle {
    color: blue; /* Text color */
    font-size: 10px; /* Font size */
    font-weight: bold; /* Font weight (optional) */
    /* Add more styles as needed */
  }

  .content-row{
    display: flex;
    padding-left: 2rem;
  }

  .content-height{
    height: 1.5rem;
  }
.content-left-padding{
    margin-left: 1.0rem !important;
}
.font-anton{
    font-family: 'Anton', sans-serif!important;
    font-size:5rem !important;
    // background-color:#301008;
    color:white;
    margin: auto !important;
    text-align: center !important;
    padding-left: 2%;
    display: block !important;
    transition: transform 0.3s ease-in-out !important;
}

.font-anton:hover {
    transform: scale(1.1); /* Example: Enlarge the text on hover */
  }

  .font_ShopName{
    font-family: 'Pixelify Sans', cursive !important;
    font-size: 3rem !important;
    color: #FFCC00;
    text-align: center;
    justify-content: center !important;
  }

  @media (max-width: 600px) {
    .font_ShopName {
      font-size: 1rem !important; /* Decrease font size for small screens */
    }
  }

  .underline-on-hover:hover {
    text-decoration: underline!important;
    cursor: pointer !important; /* Optional: Change cursor to a pointer on hover */
  }
/* CustomCarousel.css */

.carousel-container {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .carousel-content {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .carousel-slide {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  .active {
    border: 2px solid #333;
  }
  
  /* Set the maximum height for the images */
  .carousel-slide img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
  }
  
.wrapper{
    padding-left: 4rem;
    padding-top: 2rem;
    padding-right: 4rem;
    height: 500px;
    // border: 1px solid #ddd;
    // width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: pointer;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}
 
.wrapper .item{
    min-width: 300px;
    height: 350px;
    //  line-height: 110px;
    text-align: center;
    background-color: #ddd;
    margin-right: 1.2rem;


}
.wrapper .item img {
    max-width: 100%; /* Ensure images scale down to fit their container */
    max-height: 100%; /* Ensure images scale down to fit their container */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
  }
@media screen and (min-width: 700px) {

    
}
// .wrapper .item:hover{
//     transform: scale(1.1)
// }
.select:hover{
    border-radius: 10px!important;
    transform: scale(1.1)  !important;
}

.content-row_withoutPad{
    display: flex;
}
.space_between{
    margin-right: 18px;
    justify-content: space-between;
}

      /* Footer styles */

      
      .footer {
        background-color: #000 !important;
        color: #fff !important;
        padding: 20px !important;
         z-index: 1000 !important;
        // text-align: center !important;
    }

    /* Footer link styles */
    .footer a {
        color: #fff ;
        text-decoration: none;
    }

    /* Centered text for the footer */
    .centered-text {
        text-align: center !important;
    }
  .container_bottom_padding{
    padding-bottom: 5rem !important;
  }
  .container_right_padding{
    padding-right:2rem !important ;
  }

  .centered-image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    // height: 100vh; /* 100% of the viewport height */
  }

  .centered-image-container {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
    // height: 100vh; /* 100% of the viewport height */
  }

  .padd_bw{
    margin-left: 4rem !important;
  }
  
  
  
  
  