.input_textField{
    input {
        border: 2px solid #ffffff !important;
        border-radius: 4px !important;
        padding: 5px !important;
        color: white;
        width: 18rem;
 

      } 
   

}




::selection {
    background: transparent !important;
    color: inherit!important;
  }

.input_textField::selection {
    input{
      
        color: black !important;
    }

  
  }

.labelStyle {
    color: blue; /* Text color */
    font-size: 10px; /* Font size */
    font-weight: bold; /* Font weight (optional) */
    /* Add more styles as needed */
  }

  .content-row{
    display: flex;
    padding-left: 2rem;
  }

  .content-height{
    height: 1.5rem;
  }

.font-anton{
    font-family: 'Anton', sans-serif!important;
    font-size:5rem !important;
    background-color:#301008;
    color:white;
    margin: auto !important;
    text-align: center !important;
    padding-left: 2%;
    display: block !important;
  
}