.booking_margin{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    margin-top: 2rem !important;
    background-color: #ECF2FF !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.booking_margin_seats{
    // padding-left: 5rem !important;
     margin-left: 2rem !important;
    // margin-right: 2rem !important;
    margin-top: 2rem !important;  
    // align-items: center !important;
    // justify-content: center !important;
    // text-align: center !important;
}  

.seat-book{
    // width:20% !important;
    // box-sizing: border-box !important;
    text-align: center !important;
    border: 1px solid #ccc !important;
  background-color: yellow;
    
    margin: 5px !important;
    padding: 10px !important;

}

.seat-book-back1{
    background-color: #ccc;
}





.seat_nonBook{
    // width:20% !important;
    // box-sizing: border-box !important;
    text-align: center !important;
    border: 1px solid greenyellow !important;
    margin: 5px !important;
    padding: 10px !important;
     background-color: white;
    
}

.centered-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set a minimum height to center vertically */
  }